In [5]:
import os, pandas as pd
from pathlib import Path
from typing import Optional, List, Dict, Tuple

In [35]:
product = pd.read_csv("tianchi_product.csv", sep="\x01", names=["item_id","title","pic_url","cat_id","merchant_id","brand_id"], header=0)
product

,item_id,title,pic_url,cat_id,merchant_id,brand_id
0,6963038,夏款 洋装 孕妇装 彩条 雪纺孕妇裙 新款 圆领 短袖 孕妇装 孕妇连衣裙,http://img01.taobaocdn.com/bao/uploaded/i3/164...,16-2787,b26844,"s78718,,,"
1,5674056,孕妇装 秋装 时尚 韩版 泡泡袖 小 翻领 孕妇衬衫 孕妇上衣,http://img01.taobaocdn.com/bao/uploaded/i4/164...,16-2787,b26844,"s78718,,,"
2,3095086,孕妇装 秋装 新款 孕妇裙 毛衣 线衫 孕妇上衣 假两件 时尚 长袖连衣裙,http://img01.taobaocdn.com/bao/uploaded/i1/135...,16-2787,b22178,"s48736,,,"
3,3305168,2013 孕妇夏装 新款 孕妇装上衣 孕妇裙 夏装 时尚 韩版孕妇连衣裙,http://img01.taobaocdn.com/bao/uploaded/i2/135...,16-2787,b22178,"s48736,,,"
4,7150118,孕妇装 秋装 新款 韩版 时尚 七分袖孕妇裙 休闲 孕妇上衣 棉麻 春秋 文艺,http://img01.taobaocdn.com/bao/uploaded/i4/135...,16-2787,b22178,"s48736,,,"
...,...,...,...,...,...,...
8133502,7322774,狄公案 / 中国 古典 名著 百部 藏书 ( 清 ) 吴 趼 人 小说,http://img01.taobaocdn.com/bao/uploaded/i1/156...,35-5231,NaN,"s29304,,,"
8133503,2683874,神秘岛 ( 插图 本 ) / 中央 编译 文库 小说,http://img01.taobaocdn.com/bao/uploaded/i4/156...,35-5231,NaN,"s29304,,,"
8133504,2671839,猎人 笔记 ( 权威 全 译 典藏 版 ) 小说,http://img01.taobaocdn.com/bao/uploaded/i1/156...,35-5231,NaN,"s29304,,,"
8133505,2665663,汤姆 大伯 的 小屋 / 译文 名著 文库 小说,http://img01.taobaocdn.com/bao/uploaded/i3/156...,35-5231,NaN,"s29304,,,"
8133506,2665136,老人与海 ( 权威 全 译 典藏 版 ) / 青少年 成长 必,http://img01.taobaocdn.com/bao/uploaded/i3/156...,35-5231,NaN,"s29304,,,"

In [37]:
# --- Check for missing values ---
print("\n--- Missing Values per Column ---")
print(product.isnull().sum())

# --- Check for duplicate rows ---
print("\n--- Number of Duplicate Rows ---")
print(product.duplicated().sum())

--- Missing Values per Column ---
item_id              0
title            27266
pic_url          27310
cat_id           27266
merchant_id    2012573
brand_id         27266
dtype: int64

--- Number of Duplicate Rows ---
0

In [40]:
product.info()
print(product.describe().T)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8133507 entries, 0 to 8133506
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   item_id      object
 1   title        object
 2   pic_url      object
 3   cat_id       object
 4   merchant_id  object
 5   brand_id     object
dtypes: object(6)
memory usage: 372.3+ MB
               count   unique  \
item_id      8133507  8133507
title        8106241  7803831
pic_url      8106197  7936310
cat_id       8106241     8113
merchant_id  6120934    89345
brand_id     8106241    86790

                                                           top    freq
item_id                                                6963038       1
title             无框画 装饰画 时尚 家饰 现代 玄关 客厅 卧室 壁画 餐厅 墙画 版画 挂画 三联      209
pic_url      http://img01.taobaocdn.com/bao/uploaded/i6/T1K...     364
cat_id                                                 10-2787  177487
merchant_id                                             b63640   60688
brand_id                                             s19955,,,  102496

In [11]:
log = pd.read_csv("tianchi_log_ABC_merged_cleaned.csv", sep=",", header=0)
log

,user_id,item_id,behavior,time_stamp,behavior_type,time_col
0,4113362,3210607,NaN,NaN,click,2013-08-01 07:17:08
1,5452032,287175,NaN,NaN,click,2013-04-09 18:25:08
2,7754137,287175,NaN,NaN,click,2013-09-14 13:18:23
3,7754137,287175,NaN,NaN,collect,2013-09-03 22:13:49
4,7754137,287175,NaN,NaN,click,2013-09-03 22:08:32
...,...,...,...,...,...,...
356558,3986520,3934174,NaN,NaN,click,2013-05-29 12:26:16
356559,3731750,3934174,NaN,NaN,click,2013-09-20 16:34:59
356560,7348755,3934174,NaN,NaN,click,2013-06-28 21:23:59
356561,7889290,596923,NaN,NaN,click,2013-05-31 20:37:24
356562,1397782,596923,NaN,NaN,click,2013-05-15 21:03:52

In [13]:
# --- Check for missing values ---
print("\n--- Missing Values per Column ---")
print(log.isnull().sum())

# --- Check for duplicate rows ---
print("\n--- Number of Duplicate Rows ---")
print(log.duplicated().sum())

--- Missing Values per Column ---
user_id               0
item_id               0
behavior         356563
time_stamp       356563
behavior_type         0
time_col              0
dtype: int64

--- Number of Duplicate Rows ---
0

In [24]:
log.info()
print(log.describe().T)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 356563 entries, 0 to 356562
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   user_id        356563 non-null  int64
 1   item_id        356563 non-null  int64
 2   behavior       0 non-null       float64
 3   time_stamp     0 non-null       float64
 4   behavior_type  356563 non-null  object
 5   time_col       356563 non-null  object
dtypes: float64(2), int64(2), object(2)
memory usage: 16.3+ MB
               count          mean           std    min        25%        50%  \
user_id     356563.0  4.048775e+06  2.345946e+06  149.0  2027983.0  4033023.0
item_id     356563.0  7.734075e+06  4.463446e+06  153.0  3880221.0  7702187.0
behavior         0.0           NaN           NaN    NaN        NaN        NaN
time_stamp       0.0           NaN           NaN    NaN        NaN        NaN

                   75%         max
user_id      6076902.0   8133499.0
item_id     11615960.0  15467774.0
behavior           NaN         NaN
time_stamp         NaN         NaN

In [56]:
import pandas as pd

# --- 1) Read with correct separators ---
product = pd.read_csv("tianchi_product.csv",
                      sep="\x01", header=0,
                      names=["item_id","title","pic_url","cat_id","merchant_id","brand_id"],
                      dtype="string")

log_all = pd.read_csv("tianchi_log_ABC_merged_cleaned.csv",
                      sep=",", header=0, 
                      dtype="string")

# --- 2) Standardise the join key ---
product["item_id_clean"] = product["item_id"].str.extract(r"(\d+)", expand=False)
log_all["item_id_clean"]  = log_all["item_id"].str.extract(r"(\d+)", expand=False)

# --- 3) Drop missing keys & de-duplicate per key (keep first non-null values) ---
product = (product.dropna(subset=["item_id_clean"])
                   .sort_values("item_id_clean")
                   .drop_duplicates(subset=["item_id_clean"], keep="first"))

log_all = (log_all.dropna(subset=["item_id_clean"])
                  .sort_values(["user_id","time_col"])  # optional stable order
                  .reset_index(drop=True))

# --- 4) Merge (ALL columns kept; rename clashes with suffixes) ---
keep_prod = product.drop(columns=["item_id"])   # keep only metadata + item_id_clean
merged = log_all.merge(
    keep_prod, on="item_id_clean", how="inner",
    indicator=False,           # <- no _merge column
    validate="many_to_one"     # optional sanity check
)


print("Merged shape:", merged.shape)
print("Unique items in merged:", merged["item_id_clean"].nunique())


# --- 5) Save ---
merged.to_csv("tianchi_log_product_merged3.csv", index=False, encoding="utf-8")
print("Saved: tianchi_log_product_merged3.csv")

Merged shape: (188170, 12)
Unique items in merged: 43466
Saved: tianchi_log_product_merged3.csv

In [58]:
df = pd.read_csv("tianchi_log_product_merged3.csv")

In [60]:
df

,user_id,item_id,behavior,time_stamp,behavior_type,time_col,item_id_clean,title,pic_url,cat_id,merchant_id,brand_id
0,100005,2001865,NaN,NaN,click,2013-05-01 15:46:10,2001865,职业 生涯 规划 ( 中等 职业 教育 课程 改革 国家 规划 新教材 / 柳君芳 姚裕群,http://img01.taobaocdn.com/bao/uploaded/i3/T1o...,35-5194,NaN,"s84707,,,"
1,100005,5670264,NaN,NaN,click,2013-06-12 07:14:37,5670264,百万英镑 / 青少年 文库 ( 美 ) 马克 & middot ; 吐温 | 译者 : ...,http://img01.taobaocdn.com/bao/uploaded/i1/165...,35-4832,NaN,"s34399,,,"
2,100005,346615,NaN,NaN,click,2013-07-27 21:23:32,346615,玫瑰 百合 花篮 上海 花店 | 浦东 花店 | 上海 鲜花速递 | 上海 生日花篮,http://img01.taobaocdn.com/bao/uploaded/i6/T1k...,52-5240,b17504,"s29027,,,"
3,100005,6354293,NaN,NaN,click,2013-08-13 20:34:22,6354293,正品包邮 美国 Patrick 帕特里克 VL 100 入门 初学 初级 专业 考级 小提琴,http://img01.taobaocdn.com/bao/uploaded/i3/100...,40-6027,b38928,"s35565,,,"
4,1000170,5693441,NaN,NaN,click,2013-05-02 22:18:43,5693441,正版 * 优秀 青少年 科普 趣味 读物 丛书 & bull ; 人类 奥秘 978...,http://img01.taobaocdn.com/bao/uploaded/i4/185...,35-6403,NaN,"s4568,,,"
...,...,...,...,...,...,...,...,...,...,...,...,...
188165,999876,6130816,NaN,NaN,click,2013-06-23 15:43:00,6130816,婴儿 洗浴用品 宝宝 沐浴水温计 洗澡 测 水温 温度计 儿童 室温计 测温计,http://img01.taobaocdn.com/bao/uploaded/i4/180...,44-3022,b12323,"s79957,,,"
188166,999876,6130816,NaN,NaN,click,2013-08-14 20:42:42,6130816,婴儿 洗浴用品 宝宝 沐浴水温计 洗澡 测 水温 温度计 儿童 室温计 测温计,http://img01.taobaocdn.com/bao/uploaded/i4/180...,44-3022,b12323,"s79957,,,"
188167,999876,6130816,NaN,NaN,click,2013-08-14 20:43:51,6130816,婴儿 洗浴用品 宝宝 沐浴水温计 洗澡 测 水温 温度计 儿童 室温计 测温计,http://img01.taobaocdn.com/bao/uploaded/i4/180...,44-3022,b12323,"s79957,,,"
188168,999876,4567142,NaN,NaN,click,2013-09-27 08:04:29,4567142,怀素 大 草 千字文 商城 正版,http://img01.taobaocdn.com/bao/uploaded/i2/148...,35-4045,NaN,"s1963,,,"
188169,999876,5865996,NaN,NaN,click,2013-09-29 07:07:52,5865996,2 折 包邮 《 十万个为什么 大 全集 》 全4册 礼盒装 百科 畅销 书籍 定价 296,http://img01.taobaocdn.com/bao/uploaded/i3/188...,35-212,NaN,"s44076,,,"